altgraph==0.17.4
beautifulsoup4==4.14.2
blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
pefile==2023.2.7
playwright==1.56.0
pyee==13.0.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pywin32-ctypes==0.2.3
setuptools==80.9.0
soupsieve==2.8
typing_extensions==4.15.0
waitress==3.0.2
Werkzeug==3.1.3
