<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex flex-col min-h-screen bg-[#221e22] text-white">

  <main class="flex flex-col items-center justify-center flex-grow">
    <p class="text-amber-500 text-5xl">Wrong Credentials!</p>
  </main>

  <footer class="text-xl py-4 text-center text-gray-300">
    made by <a href="https://github.com/sr1k7nth" class="text-[#ee5622] hover:text-[#f77a4f]">sr1k7nth</a>
  </footer>

</body>

</html>
